*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.cline/
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
/.roo/

# Android Studio
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/src/main/jniLibs/
# NDK
obj/

# Keystore files
# Uncomment the following line if you don't want to track keystore files
# *.jks
# *.keystore

/API使用例/

# External repos (not submodules)
/3rd-rust-server/
/accompanist-lyrics-ui/

# Un-ignore vendored Rust deps (global gitignore has vendor/)
!app/src/main/rust/vendor/